.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
    align-items: center;
}
.nav-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.menu-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.menu-list li{
    padding: 0px 10px;
    display: flex;
    
}
.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-input{

    
}
.search-icon{

}
.product-img{
    width: 30vh;
}
.product-card:hover{
    scale: 105%;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}