.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
  align-items: center;
}
.nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
}
.menu-list li {
  padding: 0px 10px;
  display: flex;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.search-bar {
  display: flex;
  align-items: center;
}
.hide {
  display: none;
}
.product-img {
  width: 30vh;
}
.product-card:hover {
  scale: 105%;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.product-box > div {
  font-size: 3vh;
  margin: 10px;
}
.detail-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.img-box {
  display: flex;
  justify-content: center;
}
.new {
  font-weight: bolder;
  color: rgb(69, 189, 65);
  -webkit-text-stroke: 0.2px rgb(0, 204, 255);
}
.choice {
  color: red;
}
.size-button {
  display: flex;
  margin: 0px;
  justify-content: center;
}
.size-button button {
  width: 100%;
  font-size: 2vh;
}
.login-box {
  display: flex;
  flex-direction: column;
}
.ham-button {
  margin: 10px;
  display: none;
}
.hamham {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  display: none;
}
#menu-list {
  display: flex;
  flex-direction: column;
  display: none;
}
.closebtn {
  display: none;
}

@media screen and (max-width: 993px) {
  .menu-list {
    font-size: 1.5vh;
  }
  .menu-list {
    display: none;
  }
  .ham-button {
    margin: 10px;
    display: block;
  }
  .hamham {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    display: none;
    margin: 20px 10px;
  }
  #menu-list {
    display: flex;
    flex-direction: column;
  }
  #menu-list button{
    background-color: aqua;
  }
  .closebtn {
    display: block; 
  }
  .product-img {
    width: 20vh;
  }
  .product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-box div{
    font-size: 1.7vh;
  }
  .img-box img{
    width: 28vh;
    height: 40vh;
  }
  .nav-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
